<div class="container py-5">
  <div class="row mb-4">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-4">Elegí un video</h1>
      <p class="lead mb-0">Elegí un video y un subtitulo para cada idioma</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div id="card">
          <form role="form">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label><span class="hidden-xs">Configuración de idioma</span></label>
                  <div class="input-group">
                    <div class="col-6">
                      <div>
                        <label>Idioma que hablas</label>
                      </div>
                      <app-language-select [bindingLanguage]="this.video.mainLanguage"></app-language-select>
                    </div>
                    <div class="col-6">
                      <div>
                        <label>Idioma que queres aprender</label>
                        <app-language-select [bindingLanguage]="this.video.secondaryLanguage"></app-language-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Video</label>
              <app-video-file-input [video]="this.video"></app-video-file-input>
            </div>
            <div class="form-group">
              <label>
                Subtitulos en
                {{this.video.mainLanguage.name? this.video.mainLanguage.name : '...'}}</label>
              <app-subtitle-file-input [subs]="this.video.mainSubs"></app-subtitle-file-input>
            </div>
            <div class="form-group">
              <label>Subtitulos en
              {{this.video.mainLanguage.name? this.video.mainLanguage.name : '...'}}</label>
              <app-subtitle-file-input [subs]="this.video.scondarySubs"></app-subtitle-file-input>
            </div>

            <button type="button" class="subscribe btn btn-primary rounded-pill shadow-sm" (click)="onPlay()">
              Reproducir
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4 mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div id="card">
          <p class="lead mb-0">Videos recientes</p>
        </div>
      </div>
    </div>
  </div>
</div>
