<div class="container py-5">
  <div class="row mb-4">
    <div class="mx-auto text-center">
      <h1 class="display-4">Elegí un video</h1>
      <p class="lead mb-0">Elegí un video y un subtitulo para cada idioma</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 mx-auto order-md-first order-last">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div id="card">
          <form role="form">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label><span class="hidden-xs">Configuración de idioma</span></label>
                  <div class="input-group">
                    <div class="col-sm-6 col-12 p-1">
                      <div>
                        <label>Idioma que hablas</label>
                      </div>
                      <app-language-select [bindingLanguage]="this.settigns.mainLanguage"></app-language-select>
                    </div>
                    <div class="col-sm -6 col-12 p-1">
                      <div>
                        <label>Idioma que aprendes</label>
                        <app-language-select [bindingLanguage]="this.settigns.secondaryLanguage"></app-language-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="form-group">
              <label>Video</label>
              <app-file-input
              [types]="'video/*, .mkv, .avi'"
              [title]="'Elegi un video'"

              [file]="this.settigns.video"></app-file-input>
            </div>
            <div class="form-group">
              <label>
                Subtitulos en
                {{this.settigns.mainLanguage.name? this.settigns.mainLanguage.name : '...'}}</label>
              <app-file-input
              [types]="'.srt, .vtv'"
              [title]="'Elegir subtitulos'"
              [file]="this.settigns.video.mainSubs">
              </app-file-input>
            </div>
            <div class="form-group">
              <label>Subtitulos en
              {{this.settigns.secondaryLanguage.name? this.settigns.secondaryLanguage.name : '...'}}</label>
              <app-file-input
              [types]="'.srt, .vtv'"
              [title]="'Elegir subtitulos'"
              [file]="this.settigns.video.secondarySubs"></app-file-input>
            </div>
            <button type="button" class="subscribe btn btn-primary rounded-pill shadow-sm" (click)="onPlay()">
              Reproducir
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4  mx-auto">
      <div class="bg-white rounded-lg shadow-sm p-5">
        <div id="card">
          <p class="lead mb-0">Videos recientes</p>
        </div>
      </div>
    </div>
  </div>
</div>
